
  .navbar {
      overflow: hidden;
      background-color: white; 
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.13);
      border-top: 0.5px solid rgba(0, 0, 0, 0.13);
      font-weight: 600;
      font-family: 'Roboto', sans-serif;;
    }
    .navbar a {
      float: left;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.747);
      text-align: center;
      padding: 12px 15px;
      text-decoration:none;
      border-top: 1px;
    }
    .dropdown {
      float:left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 13px;  
      border: none;
      outline: none;
      color:rgba(0, 0, 0, 0.747);
      padding: 12px 15px;
      background-color: inherit;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      font-weight: 600;
    }
    
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: white;
      color: rgba(40, 180, 245, 0.918);
    }
    

    

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.61);
      z-index: 1;
    }
    
      .dropdown-content a {
        font-size: 10px;
        float: none;
        color: rgba(0, 0, 0, 0.568);
        padding: 4px 1px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
    
      .dropdown-content a:hover {
        color: black;
       
      }
    
      .dropdown:hover .dropdown-content {
       display: block;
       border-top:2px solid #2196F3;
      }
      * {
        box-sizing: border-box;
      }
      
      form input{
        padding: 4px;
        font-size: 17px;
        border: 1px solid rgba(0, 0, 0, 0.075);
        float: left;
        width: 80%;
        background: #ffffff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      
      form button {
        float: left;
        width: 20%;
        padding: 4px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid #208ce4;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    img{
          float: left;
          margin: 10px 10px 10px 10px;
      }
      .row {
        display: flex;
      }
      
      .column {
        flex: 33.33%;
        padding: 5px 30px;
      }

      
